{% from 'macros.html' import add_form %}
{% extends "base.html" %}

{% block title %} Home-- {% endblock %}

{% block header %}
    <h1 class="page_title">About</h1>
{% endblock %}
{% block main %}


    </div>
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">


               {{ message }} <br>
            <a href="https://www.dakkadakka.com/wiki/en/Paint_Range_Compatibility_Chart">Paint Conversion Chart</a>
            <br>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stage1">
              Stage 1
            </button>

            <!-- BEGIN STAGE 1 -->
            <div class="modal" id="stage1">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Assembly</h4>
                    <button type="button" class="close" data-dismiss="modal">Stage 1</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Cut the model out of the sprue and shave off excess materials with an exacto knife or using sprue cutters. Glue it together using super glue or plastic glue (ONLY if you’re using models that are plastic and that are receptive to the plastic glue, ex: Games Workshop models.)
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stage2">
              Stage 2
            </button>

            <!-- BEGIN STAGE 2 -->
            <div class="modal" id="stage2">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Priming</h4>
                    <button type="button" class="close" data-dismiss="modal">Stage 2</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Apply primer to the assembled models, whether by spraying it with a primer or applying it with a brush (I would suggest applying with a brush only if you’re working on a single model.
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stage3">
              Stage 3
            </button>

            <!-- BEGIN STAGE 3 -->
            <div class="modal" id="stage3">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Painting</h4>
                    <button type="button" class="close" data-dismiss="modal">Stage 3</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Get the paints and brushed of your choice and start painting! (Remember to thin your paints!)
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stage4">
              Stage 4
            </button>

            <!-- BEGIN STAGE 4 -->
            <div class="modal" id="stage4">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Shading</h4>
                    <button type="button" class="close" data-dismiss="modal">Stage 4</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Using a larger brush, spread a shade of your choice over the model, letting it pool naturally over the model, where ever it pools heavily, push it around with the brush. Remember, there’s no such thing as too much shade!
                    <!--<img src="https://i.imgur.com/1MkiXms.png">-->
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stage5">
              Stage 5
            </button>

            <!-- BEGIN STAGE 5 -->
            <div class="modal" id="stage5">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Highlighting</h4>
                    <button type="button" class="close" data-dismiss="modal">Stage 5</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Brighten up parts of the model by highlighting edges with a lighter shade of paint.
                    <!--<img src="https://i.imgur.com/Fh6UF3y.jpg">-->
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stage6">
              Stage 6
            </button>

            <!-- BEGIN STAGE 6 -->
            <div class="modal" id="stage6">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Details</h4>
                    <button type="button" class="close" data-dismiss="modal">Stage 6</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Paint eyes, energy effects, blood, rust, etc. Things that you DO NOT want to be affected by the shading.
                    <!--<img src="https://i.imgur.com/knylN7P.jpg">-->
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stage7">
              Stage 7
            </button>

            <!-- BEGIN STAGE 7 -->
            <div class="modal" id="stage7">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Base</h4>
                    <button type="button" class="close" data-dismiss="modal">Stage 7</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Decorate the base of your mode using special paint, real sand, cork, water effects, etc. Also do things like painting front/back arc at this step.

                    <img src="https://i.ebayimg.com/images/g/WMgAAOSwYIxYBq4J/s-l300.jpg">
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}
    <!--static js files static/js/-->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}