{% extends "base.html" %}

{% block title %} Home-- {% endblock %}

{% block header %}
    <h1 class="page_title">About</h1>
{% endblock %}
{% block main %}

    <h3>Files</h3>
    <hr>
      <table class="table table-striped">
        <tr>
          <th>Filename</th>
          <th>Last Modified</th>
          <th>Type</th>
          <th>Stage</th>
        </tr>
        {% for f in files %}
        <tr>
          <td>{{ f.key }}</td>
          <td>{{ f.last_modified | datetimeformat }}</td>
          <td>{{ f.key | file_type }}</td>
           <td>{{ f.Object().metadata["stage"] }}</td>
        </tr>
        {% endfor %}
      </table>

{% endblock %}

{% block script %}
    <!--static js files static/js/-->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
