{% from 'add_macro.html' import add_form %}
{% from 'sidebar_macro.html' import project_sidebar %}

{% extends "base.html" %}

{% block title %} Home-- {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project_display.css') }}">
{% endblock %}



{% block nav %}
    {{ project_sidebar() }}

{% endblock %}

{% block main %}





        {{ add_form() }}

        {% if projects|length  != 0 %}
             <div class="project-container">
                {% for item in projects %}
                    <div class="project">
                        <a href="project/{{ item.get_id() }}" >
                            <h2>{{ item.get_name() }}</h2>
                            <p> {{ item.get_description() }}</p>
                        </a>
                    </div>

                {% endfor %}
            </div>
        {% else %}
            <p>
                You currently have no projects. Use “Add Project” button to add a project.
            </p>
        {% endif %}







{% endblock %}

{% block script %}

    <!--static js files static/js/-->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

