{% macro todo() %}

    <div id="todo_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">
                    <h1>Tasks</h1>
                </div>

                <!-- Body -->
                <div class="modal-body">
                    <section class="container">
                        <p>
                            <label for="new-task">Add Item</label><input id="new-task" type="text">
                            <button id="add_button" onclick="addTask()" >Add</button>
                        </p>

                        <h3>Todo</h3>
                        <ul id="incomplete-tasks">


                        </ul>

                        <h3>Completed</h3>
                        <ul id="completed-tasks">

                        </ul>


                    </section>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}