
body {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
}

table {
    width: 50%;
    margin: auto;
    padding: 10px;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper div{
    background-color: #0c5a4c;
    color: #fcfffb;
    font-weight: 400;
    font-size: larger;
    padding: 20px;

}

