
body {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
}

table{
    width: 50%;
    margin: auto;
    padding: 10px;
}





