

{% extends "base.html" %}

{% block title %} project {{ project.get_name() }} {% endblock %}


{% block main %}
    <main>
        <div class="container">

            <h1>project {{ project.get_name() }}</h1>

            <table>
                {% for item in project.get_tags()  %}
                     <tr>
                     {{ item }}
                     </tr>
                {% endfor %}

            </table>
            <form action="/add_tag/{{ id }}" method="POST">
                <p>Enter a tag <input type="text" name="tag"/></p>
                <p><input type="submit" value="submit"/></p>
            </form>

            <h2>Processes</h2>

             <form action="/add_process/{{ id }}" method="POST">
                <p>Enter Process Name <input type="text" name="process"/></p>
                <p><input type="submit" value="submit"/></p>
            </form>

            <div class="wrapper">
                {% for item in project.get_processes()  %}
                    <div>{{ item.get_name() }}</div>
                {% endfor %}
            </div>

        </div>
    </main>


{% endblock %}

{% block script %}
    <!--static js files static/js/-->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

