

.project {
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 3px;
    background-color: whitesmoke;
    overflow-wrap: break-word;
    overflow: hidden;
}

.project:hover{
    background-color: #E8E8E8;
    border: 1px solid #DCDCDC;
    cursor: pointer;
}

.project a h2{
    border-bottom:  1px solid #fcfffb;
    padding: 10px;
}

.project_info {
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;


}


.project_info h1 {
    margin: 0;
    padding: 0;

}

.project_info #editDescription{
     width: 50%;
}

.project_info textarea{
    display: block;
    width: 50%;
    line-height:1.5;
    padding:30px;
    transition:box-shadow 0.5s ease;
    box-sizing:border-box;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    overflow: auto
}


.modal-body .form-group label{
    padding-top: .9rem;
    margin: 0px;
}